<div class ="wrapper">
  <div class="fullscreen">

      <!--<ul class="films">
        <li ng-repeat="film in films | filter:query | orderBy:orderProp">
        <li ng-repeat="film in films">
          <a href="#/films/{{film.id}}" class="thumb"><img ng-src="{{film.imageUrl}}"></a>
          <a href="#/films/{{film.id}}">{{film.name}}</a>
	  <p>{{film.text}}</p>
        </li>
      </ul>-->

<!-- this needs to move to the detail page
     needs animations -- check on the animations.css file and how that is linked to ng-view - was transitioning when enabled
     need to add arrow for sliding
     enable touch-->      
      
<!--<div ng-init="films.selected='thousand-cuts-1'">
      <div class="btn-group films" style="display: block; text-align: center; margin-bottom: 10px">
	<span ng-repeat="film in films">
          <button ng-click="films.selected=film.id" class="btn btn-primary">{{film.num}}</button>
        </span>
      </div>

      <div class="well" style="height: 170px;">
	<div ng-switch="chapter">
          <div class="films">
	    <div class="animate" ng-repeat="film in films">
                <div ng-if="films.selected == film.id">
		    <h2>{{film.name}}</h2>
		    <p>{{film.text}}</p>
		</div>
	    </div>
          </div>  
        </div>  
      </div>
</div>
<hr>-->
    <ul class="films">
        <li ng-repeat="film in films | startFrom:currentPage*pageSize | limitTo:pageSize">
            <h2>{{film.name}}</h2>
	    <p>{{film.text}}</p>
        </li>
    </ul>
    
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary floatLeft">
        Previous
    </button>
    <button ng-disabled="currentPage >= films.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary floatRight">
        Next
    </button>


  </div>
</div>
